#logo-div {
    height: 50%;
    display: flex;
    align-items: center; // alinhamento vertical
    justify-content: center; // alinhamento na horizontal

    img {
        margin-left: 25%;
    }

    h3 {
        text-align: center;
    }
}